﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:1181px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:1181px;
  display:flex;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:113px;
  background:inherit;
  background-color:rgba(0, 105, 210, 1);
  border:none;
  border-radius:105px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:1003px;
  width:374px;
  height:113px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u290_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:683px;
  width:794px;
  height:88px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u290_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u290.disabled {
}
#u291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u291_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:841px;
  width:794px;
  height:88px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u291_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:88px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u291.disabled {
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:65px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:375px;
  width:261px;
  height:91px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:65px;
}
#u292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u293_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:526px;
  width:370px;
  height:88px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u293_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u293.disabled {
}
#u294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u294_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  padding:2px 2px 2px 15px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:526px;
  width:370px;
  height:88px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u294_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:88px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(232, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:31px;
}
#u294.disabled {
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:350px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:1920px;
  height:350px;
  display:flex;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
