﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u460_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  padding:2px 2px 2px 5px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u460_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  padding:2px 2px 2px 5px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:297px;
  width:322px;
  height:33px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u460_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u460.disabled {
}
#u461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  padding:2px 2px 2px 7px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u461_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  padding:2px 2px 2px 7px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:360px;
  width:322px;
  height:33px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 7px;
  box-sizing:border-box;
  width:100%;
}
#u461_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u461.disabled {
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 105, 210, 1);
  border:none;
  border-radius:129px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:434px;
  width:270px;
  height:41px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  padding:2px 2px 2px 5px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u463_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  padding:2px 2px 2px 5px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:234px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u463_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u463.disabled {
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:181px;
  width:81px;
  height:28px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:375px;
  height:150px;
  display:flex;
}
#u465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  padding:2px 2px 2px 5px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u466_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  padding:2px 2px 2px 5px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:234px;
  width:146px;
  height:33px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u466_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u466.disabled {
}
