﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:88px;
  padding:2px 2px 2px 10px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:34px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u296_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:88px;
  padding:2px 2px 2px 10px;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:34px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(157, 157, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:435px;
  width:908px;
  height:88px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u296 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u296_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:88px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(157, 157, 157, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u296.disabled {
}
.u296_input_option {
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Graphik-Semibold', 'Graphik Semibold', 'Graphik', sans-serif;
  font-style:normal;
  font-size:45px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:362px;
  width:370px;
  height:65px;
  display:flex;
  font-family:'Graphik-Semibold', 'Graphik Semibold', 'Graphik', sans-serif;
  font-style:normal;
  font-size:45px;
}
#u297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:107px;
  background:inherit;
  background-color:rgba(120, 136, 150, 1);
  border:none;
  border-radius:187px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#F2F2F2;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:970px;
  width:374px;
  height:107px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#F2F2F2;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:107px;
  background:inherit;
  background-color:rgba(0, 105, 210, 1);
  border:none;
  border-radius:187px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:970px;
  width:374px;
  height:107px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:537px;
  width:908px;
  height:420px;
}
#u300_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u300_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u300_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:287px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:896px;
  height:153px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u302 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:12px;
  width:890px;
  height:141px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u303 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:890px;
  height:194px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u304 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:899px;
  height:141px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
}
#u305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1px;
  width:889px;
  height:141px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
}
#u306 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
  line-height:55px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:890px;
  height:141px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
  line-height:55px;
}
#u307 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u300_state8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(232, 232, 232, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u300_state8_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:902px;
  height:102px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#040404;
  text-align:center;
}
#u308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:350px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:1920px;
  height:350px;
  display:flex;
}
#u309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.654901960784314);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:1917px;
  height:1080px;
  display:flex;
}
#u311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:485px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:382px;
  width:846px;
  height:485px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
}
#u312 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:445px;
  width:246px;
  height:49px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
}
#u313 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u313_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:113px;
  background:inherit;
  background-color:rgba(0, 105, 210, 1);
  border:none;
  border-radius:105px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Graphik-Regular', 'Graphik', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:707px;
  width:374px;
  height:113px;
  display:flex;
  font-family:'Graphik-Regular', 'Graphik', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
