﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1510px;
  height:536px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:1186px;
  width:1510px;
  height:536px;
  display:flex;
  font-size:34px;
}
#u352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:113px;
  background:inherit;
  background-color:rgba(0, 105, 210, 1);
  border:none;
  border-radius:117px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Graphik-Regular', 'Graphik', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#E8E5E5;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:1771px;
  width:369px;
  height:113px;
  display:flex;
  font-family:'Graphik-Regular', 'Graphik', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#E8E5E5;
}
#u353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#0069D2;
  text-align:center;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:374px;
  width:441px;
  height:168px;
  display:flex;
  font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#0069D2;
  text-align:center;
}
#u354 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u354_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:572px;
  width:640px;
  height:360px;
  display:flex;
}
#u355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1018px;
  width:866px;
  height:100px;
  display:flex;
  font-size:35px;
}
#u356 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:350px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:1920px;
  height:350px;
  display:flex;
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
